body{
    font-family: avenir;
    background-color:rgba(15,14,14,0.78);
    width: 15cm;
    border-width: 1cm;
    border-color: #a9a4a4;
    border-style: solid;
    padding-left: 1cm;
    padding-right: 1cm;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-bottom: 1cm;
}

a{
    color: #95b8b6; 
}

h1{
    color:#dfbfbf;
    font-size: 60px;
}
h2{
    color:#d9d9d9;
    font-size: 30px;    
    
}
h3{
    color:#dfbfbf;
    font-size: 60px;     
}

h4{
    color:#dfbfbf;
    font-size: 20px;     
    
}

ul{
    font-size: 20px;
    color: #e4d8b9;    
}

#link_back{
    font-size: 12px;
    
}

p{
    
    font-size: 20px;
    color: #e4d8b9;
}
