body {
    background-image: url("jessieserrino.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
    font-family: "Avenir";
    background-size: 600px 600px;

}

h1 {
    font-size: 450%;
    font-weight: normal;
}

#game_div{
    text-align: center;
}


